<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>successServlet</servlet-name>
    <servlet-class>com.ysd.Servlet.successServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FailServlet</servlet-name>
    <servlet-class>com.ysd.Servlet.FailServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ysd.Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WriteCookieServlet</servlet-name>
    <servlet-class>com.ysd.Servlet.WriteCookieServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ReadCookie</servlet-name>
    <servlet-class>com.ysd.Servlet.ReadCookie</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SessionServlet1</servlet-name>
    <servlet-class>com.ysd.Servlet.SessionServlet1</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SessionServlet2</servlet-name>
    <servlet-class>com.ysd.Servlet.SessionServlet2</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>com.ysd.Servlet.SessionServlet</servlet-class>
  </servlet>








  <servlet-mapping>
    <servlet-name>successServlet</servlet-name>
    <url-pattern>/success</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FailServlet</servlet-name>
    <url-pattern>/fail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WriteCookieServlet</servlet-name>
    <url-pattern>/write</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReadCookie</servlet-name>
    <url-pattern>/read</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionServlet1</servlet-name>
    <url-pattern>/session1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionServlet2</servlet-name>
    <url-pattern>/session2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/session</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
