<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<context-param>
	<param-name>Test</param-name>
	<param-value>123456</param-value>
	
	</context-param>
	
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ZhangSanServlet</servlet-name>
    <servlet-class>com.ysd.Servlet.ZhangSanServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LiSiservlet</servlet-name>
    <servlet-class>com.ysd.Servlet.LiSiservlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ZhangServlet</servlet-name>
    <servlet-class>com.ysd.Servlet.ZhangServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LiServlet</servlet-name>
    <servlet-class>com.ysd.Servlet.Li</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>lifeServlet</servlet-name>
    <servlet-class>com.ysd.Servlet.lifeServlet</servlet-class>
  </servlet>



 

  <servlet-mapping>
    <servlet-name>ZhangSanServlet</servlet-name>
    <url-pattern>/yl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LiSiservlet</servlet-name>
    <url-pattern>/dasiming</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ZhangServlet</servlet-name>
    <url-pattern>/yue</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LiServlet</servlet-name>
    <url-pattern>/li</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>lifeServlet</servlet-name>
    <url-pattern>/life</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
